<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Registration</title>
    
</head>
<body>
    <h1>REGISTER USER</h1>
    <form method="POST">
        <input name="username" type="text" placeholder="username" id="">
        <input name="mobile" type="text" placeholder="mobile" id="">
        <input name="email" type="text" placeholder="email" id="">
        <input name="address" type="text" placeholder="address" id="">
        <input name="password" type="text" placeholder="password" id="">
        <button type="submit">Register</button>
    </form>
</body>
</html>